<form class="form-horizontal" role="form">
    {[ _.each(days, function(day){ ]}
        <div class="day-header">
            {{ day.formattedDate }}
        </div>
        {[ _.each(day.hours, function(hour){ ]}
        <div class="row">
            <div class="col-xs-1">
                {{ hour.formattedTime }}
            </div>
            <div class="col-xs-2">
                <i title="{{ hour.title }}" class="weather-icon {{ hour.iconCss }}"></i>
            </div>
            <div class="col-xs-8">
                 <span class="badge">{{  hour.temp }}°C</span>
                 <span>{{ hour.desc }}</span>
                 <div>{{ hour.windSpeed }}m/s {{ hour.humidity }}% {{ hour.pressure }}hpa</div>
            </div>
        </div>
        {[ }) ]}
    {[ }) ]}
</form>
