<h2>WeatherApp</h2>

This project was created for the sole purpose to play with fancy libraries and APIs.
You can find it on <a href="https://github.com/artemdude/weather-app">GitHub</a>.

<h4>Used libraries:</h4>
<ul>
    <li><a href="http://backbonejs.org/">backbone</a> - skeleton of application</li>
    <li><a href="http://underscorejs.org/">underscore</a> - provides collection's helpers and templates</li>
    <li><a href="http://jquery.com">jquery</a> - duh</li>
    <li><a href="http://requirejs.org/">requirejs</a> - js module loader</li>
    <li><a href="http://lesscss.org/">less</a> - CSS pre-processor</li>
    <li><a href="http://gruntjs.com/">GRUNT</a> - javascript task runner</li>
</ul>

<b>Additional libs</b>
<ul>
    <li><a href="http://nvd3.org/">nvd3 charts</a> - svg charts based on d3.js</li>
    <li><a href="http://getbootstrap.com/">bootstrap</a> - great UI boilerplate for modern web apps</li>
    <li><a href="http://momentjs.com/">momentjs</a> - nice datetime lib</li>
    <li><a href="http://matthew.wagerfield.com/parallax/">parallaxjs</a> - parallax</li>
    <li><a href="http://twitter.github.io/typeahead.js/">typeaheadjs</a> - autocomplete</li>
    <li><a href="http://github.com/carhartl/jquery-cookie/">jquery-cooki</a> - cookie manager</li>
</ul>

<b>Unit testing</b>
<ul>
    <li><a href="http://qunitjs.com/">qunit</a> - unit test framework from jQuery team</li>
    <li><a href="http://sinonjs.org/">sinon</a> - great UI boilerplate for modern web apps</li>
</ul>

<h4>Used APIs:</h4>
<ul>
    <li><a href="http://gd.geobytes.com/AutoCompleteCity/">gd.geobytes.com</a> - location autocomplete</li>
    <li><a href="http://api.openweathermap.org/">api.openweathermap.org</a> - weather data</li>
</ul>