<h2><i class="weather-icon {{ iconCss }}"></i> {{ temp }} °C</h2>
<h3>{{ city }}, {{ country }}</h3>
<div class="desc">{{ title }}</div>
<div class="date">get at {{ currentTime }}</div>
<table class="table table-bordered table-striped">
    <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-7">
    </colgroup>
    <tbody>
    <tr>
        <td>Wind</td>
        <td>{{ windSpeed }} m/s</td>
    </tr>
    <tr>
        <td>Cloudiness</td>
        <td>{{ desc }}</td>
    </tr>
    <tr>
        <td>Pressure</td>
        <td>{{ pressure }} hpa</td>
    </tr>
    <tr>
        <td>Humidity</td>
        <td>{{ humidity }} %</td>
    </tr>
    <tr>
        <td>Sunrise</td>
        <td>{{ formattedSunrise }}</td>
    </tr>
    <tr>
        <td>Sunset</td>
        <td>{{ formattedSunset }}</td>
    </tr>
    </tbody>
</table>
