<div id="currentWeatherContainer" class="col-sm-4">
</div>
<!--tabs-->
<div class="col-sm-8">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#mainTab" role="tab" data-toggle="tab">Main</a></li>
        <li><a href="#hourlyTab" role="tab" data-toggle="tab">Hourly</a></li>
        <li><a href="#dailyTab" role="tab" data-toggle="tab">Daily</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Others <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#windChartTab" role="tab" data-toggle="tab">Wind</a></li>
                <li><a href="#pressureChartTab" role="tab" data-toggle="tab">Pressure</a></li>
                <li><a href="#humidityChartTab" role="tab" data-toggle="tab">Humidity</a></li>
            </ul>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="mainTab"></div>
        <div class="tab-pane" id="hourlyTab"></div>
        <div class="tab-pane" id="dailyTab"></div>
        <div class="tab-pane" id="windChartTab"></div>
        <div class="tab-pane" id="pressureChartTab"></div>
        <div class="tab-pane" id="humidityChartTab"></div>
    </div>
</div>